.toolbar {
    background: #FFAA01; /* Amarillo pan */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

button {
    background-color: #FF8731; /* Naranja queso */
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #512214; /* Marrón carne */
    color: white;
    transform: scale(1.1);
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #F5F5F5; /* Fondo gris claro */
}

.producto {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
    width: 220px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.producto img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.producto h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #512214; /* Marrón carne */
}

.producto p {
    font-size: 16px;
    color: #666;
}

.boton-agregar {
    background-color: #087E8B; /* Verde lechuga */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.boton-agregar:hover {
    background-color: #FF8731; /* Naranja queso */
}

.buscador {
  margin: 20px 0;
  text-align: center;
}

.buscador input {
  width: 50%;
  padding: 8px;
  font-size: 16px;
}

.mensaje-agregado {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  margin: 15px auto;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  font-weight: bold;
  width: fit-content;
  max-width: 90%;
  text-align: center;
}

.buscador {
  margin: 20px 0;
  text-align: center;
}
.buscador input {
  width: 50%;
  padding: 8px;
  font-size: 16px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.producto {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}

/* Modal emergente */
.popup-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px 30px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #333;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close-button:hover {
  color: #000;
}
