.toolbar {
    background: linear-gradient(90deg, #005bea, #00c6fb); /* Degradado de azul */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

button {
    background-color: white;
    color: #005bea;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #005bea;
    color: white;
    transform: scale(1.1);
}
.productos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.producto img {
    width: 100%;
    height: auto;
}