<h2>Gestión de Inventario</h2>

<!-- Formulario para agregar un nuevo producto -->
<form (submit)="agregarProducto()">
  <label for="idPro">Id del producto</label>
  <input type="number" id="idPro" [(ngModel)]="nuevoProducto.id" name="nombre" required />
  
  <label for="nombrePro">Nombre:</label>
  <input type="text" id="nombrePro" [(ngModel)]="nuevoProducto.nombre" name="nombre" required />

  <label for="precioPro">Precio:</label>
  <input type="number" id="precioPro" [(ngModel)]="nuevoProducto.precio" name="precio" required />

  <label for="imagenPro">URL de la imagen:</label>
  <input type="text" id="imagenPro" [(ngModel)]="nuevoProducto.imagen" name="imagen" />

  <button type="submit">Agregar Producto</button>
</form>

<!-- Tabla para mostrar los productos -->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Imagen</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of productos$ | async">
      <td>{{ producto.id }}</td>
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.precio | currency }}</td>
      <td><img [src]="producto.imagen" alt="Imagen del producto" width="50"></td>
      <td>
        <button (click)="eliminarProducto(producto.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Botón para descargar el inventario en XML -->
<button (click)="descargarXML()">Descargar XML</button>
