/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formato {
    width: 97%;
    background: wheat;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    flex-direction: grid;
    display: flex;
    gap: 30px;
  }

  /* Título */
  .titulo {
    color: #df851e;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Contenedor principal */
  .contenedor {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    flex-grow: auto;
  }
  
  /* Estilos para el formulario */
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
  }
  
  .formulario label {
    font-weight: bold;
  }
  
  .formulario input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    margin-top: 10px;
  }
  
  .btn-agregar {
    background-color: #28a745;
  }
  
  .btn-agregar:hover {
    background-color: #218838;
  }
  
  .btn-descargar {
    background-color: #764d12;
    width: 100%;
    display: block;
    text-align: center;
  }
  
  .btn-descargar:hover {
    background-color: #b34800;
  }
  
  .btn-eliminar {
    background-color: #dc3545;
  }
  
  .btn-eliminar:hover {
    background-color: #c82333;
  }
  
  /* Estilos para la tabla */
  .tabla-contenedor {
    overflow-x: auto;
    margin-top: 20px;
  }
  
  .tabla {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .tabla th, .tabla td {
    border: 1px solid #ed1b1b;
    padding: 8px;
  }
  
  .tabla th {
    background-color: #d27233;
    color: white;
  }
  
  .img-producto {
    width: 50px;
    border-radius: 5px;
  }
  
  /* Diseño responsivo */
  @media (max-width: 600px) {
    .contenedor {
      width: 100%;
      padding: 10px;
    }
  }